header {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 60px;
    background-color: #ffffff;

    border: 2px solid black;
   
    border-width: 100%;
    padding: 20px;

    color: black;
   }


.entry{
    text-align: center;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    background: rgba(240, 238, 216, 0.651);
    border: 2px ;
    border-radius: 25px;
    margin: 200px 500px;
    width: 450px;
    height: 300px; 
  
}

body {
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    
    }
   
